* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav {
  background: linear-gradient(rgb(0, 140, 223), pink);
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px black;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img  {
  width: 60px;
  height: 50px;

}

.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 15px;
}

.home {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

.food-list {
  display: grid;
  grid-template-columns:350px 350px 350px 350px;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto;
  width: 100%;  
}
.food-detail
{
  background:linear-gradient(#3C6255, #61876E,#A6BB8D,#EAE7B1);
  max-width: 850px;
  height: auto;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;

}


.food {
  background:linear-gradient(#3C6255, #61876E,#A6BB8D,#EAE7B1);
  text-align: center;
  width: 300px;
  height: auto;
  margin: 10px;
  padding: 8px;
  border: solid rgba(0, 0, 0, 0.425) 1px;
  border-radius: 5px;
  transition: 0.2s;
  margin-left: 50px;
}

.food:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px black;
  transition: 0.2s;
}

.food img {
  border-radius: 5px;
  width: 250px;
  height: 250px;
  
}

.search {
  border-radius: 10px;
  margin-left: 70px;
  width: 250px;
  height: 35px
}
.searchbar input
{
  background-color:#EDEDED;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}
.searchbar button
{
  background-color:#1C6DD0 ;
width: 50px;
height: 33px;
border-radius: 10px;
margin-left: 10px;
}

.loader {
  width: 150px;
  height: 150px;
  margin: 50px auto;
  border-right: 5px dotted black;
  border-top: 5px dotted rgb(221, 141, 13);
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.add-food
{
  background:linear-gradient( #CFD2CF,#FA9494, #EB1D36);
  max-width: 850px;
  height: auto;
  margin: 10px auto;
  padding: 20px;
  row-gap: 10px;

}
.add-food h1
{
  text-align: center;
  color: black;
}
.add-food hr
{
border: solid 1px black;
border-radius: 10px;
margin: auto 10px;
}
.add-food form
{
  /* border: 3px solid black; */
  width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 150px 350px;
  row-gap: 20px;
  margin-top: 20px;
  
}
.add-food label
{
  font-size: 22px;
  color: black;
}
.add-food form input
{
width: 350px;
height: 38px;
border-radius: 10px;
}
.add-food form input[type="radio"]
{
width: 20px;
margin-left: 10px;
accent-color: green;
}
.add-food form input[type="submit"]
{
  margin-left:120px;
  width: 150px;
  height: 40px;
  accent-color: green;
}